

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    margin: 0%;
    
}



/* LOGO */
#logo{
    height: 120px;
    width: auto;
    margin-top: 3vh;
    right: 1vw;
}


/* H1 */
h1{
    color: grey;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: .7rem;
    width: fit-content;
    padding-left: 20px;
    scroll-snap-type: snap;
}
::-moz-selection {
    background-color: green;
    color: limegreen;}
h1:hover{
    color: whitesmoke;
}
h1.nr:hover{
    color: grey;
}
h1.toc{
    color: whitesmoke;
}
h1.text{
    color: white;
}
.white{
    color: white;
}
h2{
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-style: normal;
    font-weight: 100;
}

/* NAV */
nav{
    margin-top: 0;
    margin-left: 10px;
}

/* DISPLAY */
.hide{
    display: none;
}
ul{
    margin-left: 10vw;
}
figure{
    max-width: 80vw;
}
table{
    width: 70vw;
    font-size: 1.2rem;
    line-height: 1.3rem; 
    height: fit-content;
    background-color: grey;
    color: black; 
    border-spacing: 20px;
}
table:hover{
    background-color: white;
}
tr{
    width: 30vw;
    vertical-align: inherit;
}
td{
    width: 40vw;
    vertical-align: text-top;
}
p{
    font-size: 1.3rem;
    line-height: 1.6rem; 
}
.main{
    color:white;
}
iframe{
    height: 300px;
    width: 34vw;
}
table.empty{
    background-color: black;
    border-spacing: 20px;

}
span{
    background-color: black;
    color: white;
    text-emphasis: none;
}
img{
    max-width: 30vw;
    border: 0;
    align-content: center;
}
em{
    font-style: normal;
    font-size: 1.4rem;
}

table.example{
    width: 50vw;
    font-size: 1.2rem;
    line-height: 1.3rem; 
    height: fit-content;
    background-color: grey;
    color: black; 
    border-spacing: 20px;
    margin-left: 10vw;
}
table.example:hover{
    background-color: white;
}
table.example2{
    width: 30vw;
    font-size: 1.2rem;
    line-height: 1.3rem; 
    height: fit-content;
    background-color: grey;
    color: black; 
    border-spacing: 20px;
    margin-left: 20vw;
}
table.example2:hover{
    background-color: white;
}

.small{
    max-width: 20vw;

}
